::-webkit-scrollbar{
  display: none;
}

html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  margin: 0 auto;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220215/pngtree-summer-hand-painted-cold-drink-restaurant-food-banner-image_924271.jpg);

}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{ 
  background-color: #ffcc00;
  z-index: 10001;

}

.logo-nav{
  width: 220px;

}



.navbar {
  padding: 0px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}


nav ul li a{
  color: #000;
  padding: 10px;
  font-weight: bold;

}

nav ul li a:hover{
  background-color: antiquewhite;
  border-radius: 20px;
  border: 2px #F4CE14 solid;
  color: black;
  font-weight: bold;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}




/* header section */


.header {
  margin-top: 30px;
  background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-hand-drawn-drink-white-banner-picture-image_1029502.jpg);

  padding: 10px 0;
  padding-top:0px ;
  padding-bottom: 20px;
  box-shadow: rgb(89, 85, 85) 1px 1px 90px 2px;

}



.header section {
color: #000000;
padding: 10px 13%;
position: relative;
}


h2{
  margin-left: 30%;
  font-size: 40px;

}
.banner h2{
  margin-left: 20%;
  color:#495E57;
 
}

.banner h3 {

  margin-left:20%;
  font-size: 25px;
}

 .banner p {
  margin-left: 20%;
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.reserve {
  margin-left: 20%;


  padding: 12px;
  background-color:#495E57;
  border-radius: 20px;
  border: 2px #ffffff solid;
  color: #ffffff;
  font-weight:bold;
  font-size: 18px;
}

.reserve:hover{

  
  background-color: #F4CE14;
  color: black;
  padding: 12px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #F4CE14;

}

.banner-img{
  position: absolute;
  right: 13%;
  top: 15%;
  width: 300px;
  
}

.banner-img img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  box-shadow:  #000000c4 1px 1px 20px 2px;
}


form{
  margin-top: 20px;
  background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-hand-drawn-drink-white-banner-picture-image_1029502.jpg);

  box-shadow: rgb(0, 0, 0) 1px 1px 90px 2px;
  padding: 10px 13%;
}



input, label{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#book-date{

  margin-top: 20px;
}
#book-date, #book-time, #book-guests, #book-occasion{
  
  background: #615f5cb7;
  padding: 8px 24px;
  border: none;
  outline: none;
  color: #EDEFEE;
  font-style: oblique;
  border-radius: 2px;
}

.btnReceive input{
  padding: 12px 16px;
  margin-top: 20px;
  background: #495E57;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-bottom: 5px;

}
.btnReceive input:hover{
  border-radius: 4px;
  background-color: #495e579d;
}

.confirm h1{
  border:#495E57 2px solid;
  background-color: #495E57;
  text-align: center;

  color: #ffffff;
  height: 100px;


}
.confirm span{
  color:#F4CE14;
}


/* menu items */

.menu-container{
  margin: 110px auto;
  padding: 10px 13%;
}

.menu-container h2{
  color: #000;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards{

  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items{
  /* height: 400px; */
  width: 350px;
  box-shadow: 1px 1px 25px 3px;
  background: #94c3b4;
  border-radius: 20px;
}

.menu-container img{
  width: 100%;
  height: 233px;
  border-radius:20px;
}

.menu-content{
  padding: 5px 15px;
}


.menu-content .heading{
  display: flex;
  justify-content: space-between;
}



.orderbtn{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200px;
  background-color: #F4CE14;
  border-radius: 20px;
  border:2px solid #F4CE14  ;
}

.orderbtn:hover{
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
  border: 2px #f5cf0f solid;
  color: black;
  transition: 500ms ease ease-in-out;


}

footer{
  background-color: #f4cf14;
  

}

footer section{
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}


.company-info img{
  margin-top: 12px;
  cursor: pointer;
  width: 100px;
}

.yellow{
  display: none;
}

.yellow-name{
  display: none;

}
.company-info p{
  width: 200px;
}


footer h3{
  font-size: 18px;
}

footer ul{
  padding: 0;
  list-style: none;
}

footer ul li {
  padding: 5px 0;
}


@media screen and (max-width: 768px){

  .nav-links.visible {
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
    background-color: #495E57;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index:1 ;
    padding: 10px 0;
  }
 

  .navbar{
    background:#fff;
    padding: 10px 8%;
  }

  nav ul li a{
    color: #fff;
  }

  .bar{
    background: #333333;
  }

  .header{
  background-image: url(https://i.ibb.co/nkR2rVz/Yellow-Green-Playful-Lemon-Drink-Postcard-20240928-032621-0000.png);
  }

  .banner-img{
    display: none;
  }

  form{
  background-image: url(https://i.ibb.co/nkR2rVz/Yellow-Green-Playful-Lemon-Drink-Postcard-20240928-032621-0000.png);

    padding: 10px 8%;
  }


  .header section, .menu-container{
    padding: 10px 8%;
  }
  .menu-container{
    margin: 20px 0;
  }
  .menu-header{
    justify-content: flex-start;
  }

  .menu-items{
    background: #fae278;
    width: 100%;
  }

  .orderbtn{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 200px;
    background-color: #495E57;
    border-radius: 20px;
    color: #EDEFEE  ;
    border :solid 2px #495E57;
  }

  footer{
    margin-top: 40px;
    background-color: #495E57;
  }

  footer section{
    padding: 10px 8%;
    flex-direction: column;
    color:#EDEFEE
  }

  footer a{
    padding: 1px;
    color: #EDEFEE;
  }
  .company-info p{
    width: 100%;
  }
  .yellowdiv{
    display: flex
  }
  .yellowdiv div{
    flex:1;
    margin: 0;
  }
.yellow{
  object-fit:contain;
  display: block;
  float: left;
  width:50px

}
footer h3{
  color:#F4CE14;
}
.yellow-name{
  padding-top:10px ;
  width: 30px;
  margin-top: 0;
  display: block;
  color:#F4CE14
}
  .company-info img{
    display: none;
  }

}

.hidden{
  display: none;
}